<%= provide(:title, "EditTask") %>

<h1>タスク編集</h1>
<div class="row">
  <div class="col-md-8 col-md-ofset-2">
    <%= form_with(model: @task, url: user_task_path(@user, @task), local: true, method: :patch) do |f| %>
      <%= render partial: 'shared/error_messages',  locals: { obj: @task } %>
      
      <%= f.label :task_name, class: "label-form" %>
      <%= f.text_field :task_name, class: "form-control" %>
      
      <%= f.label :note, class: "label-form" %>
      <%= f.text_area :note, size: "20x5", class: "form-control" %>
      
      <%= f.submit "更新", class: "btn btn-primary btn-form" %>
      <%= link_to "キャンセル", user_task_path(@user), class: "btn btn-default btn-form" %>
    <% end %>
  </div>
</div>

